{% load static %}

{% comment %} CALCULADORA {% endcomment %}


<section id="calculadora" class="mb-3 mt-3">
    <h2 class="h-c-center h-center">¿Cuánto podes ahorrar con  
    <img class="logo-calc" src=" {% static 'img/ideal/logo.png' %} " alt="IDEAL">
     ?</h2>
    <h4 class="ahorro h-center mb-3">¡Descubrilo!</h4>

    <div class="row mb-1">
        <div id="valor" class="col-5 col-6-m col-s mt-2">
            <h4 class="">Con ideal desde: </h4>
            <p class="calc-text">U$D 500</p>
            <p class="text">(Pagás en pesos a tipo de cambio oficial)</p>
            <h4 class="mt-1">Con inmobiliarias: </h4>
            <p class="calc-text"><span id="costocomision">U$D 4800</span></p>
            <h4 class="mt-1">Ahorrás</h4>
            <h2 class="ahorro"><span class="ahorro" id="ahorrofinal">U$D 4300</span></h2>  
        </div>
        <div class="col-7 col-6-m col-s mt-2">
            <h4 class="">Valor de tu propiedad: </h4>
            <input type="range" id="rangeInput" class="rangeslider mb-1" step='10000' name="rangeInput" min="80000" max="2000000" value="120000" oninput="amount.value=rangeInput.value">                                                       
            <br>          
            <span class="calc-text">U$D </span><output id="amount" class="output_slider calc-text" name="amount" for="rangeInput">120000</output>
            <br>
            <h4 class=" mt-2">Comisión: </h4>
            <input type="range" id="rangeInput2" class="rangeslider mb-1" step='0.5' name="rangeInput2" min="1" max="6" value="4" oninput="amount2.value=rangeInput2.value">                                                       
            <br> 
            <output id="amount2" class="output_slider calc-text" name="amount2" for="rangeInput2">4</output><span class="calc-text">%</span>
        </div> 
    </div>
    <div class="row mb-3 v-center">
        <div class="col-5 col-s">
            <h2 class="calc-ahorro hidden">Con los que ahorrás<br>con ideal ...</h2>
            <p class=" text mt-1 mb-3 hidden"><span id="ahorro">¡Cambiar los muebles antiguos de tu casa!</span></p>
            <p class="mt-1"><a href=" {% url 'venta' %} " class="btn-1-r">¡Quiero ahorrar YA!</a></p>
        </div>
        <div class="col-7 col-s">
            <img id="img-calc" src="{% static 'img/ideal/calculadora/muebles.png' %}" alt="Muebles">
        </div>
    </div>


</section>


{% comment %} CALCULADORA {% endcomment %}

{% comment %} SCRIPT {% endcomment %}

    <script>
        let costo = document.querySelector("#rangeInput");
        let comision = document.querySelector("#rangeInput2");
        let outcostocomision = document.querySelector("#costocomision");
        let outahorro = document.querySelector("#ahorro");
        let ahorrofinal = document.querySelector("#ahorrofinal");
        let imagen = document.querySelector("#img-calc");
              
        costo.addEventListener("change",e=>{
            let costocomision_val = (costo.value * comision.value) / 100;
            outcostocomision.innerHTML = 'U$D ' + costocomision_val;
            cambiarFrase()
        })     
            
        comision.addEventListener("change",e=>{
            let costocomision_val = (costo.value * comision.value) / 100;
            outcostocomision.innerHTML = 'U$D ' + costocomision_val;
            cambiarFrase()
            
        })
              
        function cambiarFrase() {
            let costocomision_val = (costo.value * comision.value) / 100;
            let ahorro = costocomision_val-500;
            ahorrofinal.innerHTML = 'U$D ' + ahorro;
            
            if (ahorro > 40000) {
                outahorro.innerHTML = '¡Reservar un pasaje a marte (con Elon) y conocer el espacio exterior!';
                imagen.src = '{% static 'img/ideal/calculadora/marte.png' %}';
            } else if (ahorro > 20000) {
                outahorro.innerHTML = '¡Comprarte ese auto que tenés entre ceja y ceja!';
                imagen.src = '{% static 'img/ideal/calculadora/auto.png' %}';
            } else if (ahorro > 10000) {
                outahorro.innerHTML = '¡Pedirte vacaciones y viajar por el mundo!';
                imagen.src = '{% static 'img/ideal/calculadora/viaje.png' %}';
            } else if (ahorro > 2000) {
                outahorro.innerHTML = '¡Cambiar los muebles antiguos de tu casa!';
                imagen.src = '{% static 'img/ideal/calculadora/muebles.png' %}';
            } else {
                outahorro.innerHTML = '¡Comprarte ese celular que siempre quisiste!';
                imagen.src = '{% static 'img/ideal/calculadora/celular.png' %}';
            }
        }
    </script>

{% comment %} SCRIPT {% endcomment %}