{% load static %}

{% comment %} CALCULADORA {% endcomment %}


<section class="mb-3">
    <h2 class="h-center">¿Cuánto podes ahorrar con  
        <div class="logo">
        <img class="ideal-cal" src=" {% static 'ideal/logo.svg' %} " alt="IDEAL">
        </div> ?
    </h2>
    <h2 class="ahorro h-center">¡Descubrilo!</h2>

    <div class="row mb-1 v-center wireframe">
        <div class="col-5 col-s">
            <h4 class="mb-1">Con IDEAL desde: </h4>
            <p class="calc-text"> $1500</p>
            <h4 class="mt-1">Con inmobiliarias: </h4>
            <p class="calc-text">USD <span id="costocomision">4800 USD</span></p>
            <h4 class="mt-1">Ahorrás</h4>
            <h2 class="ahorro" >USD <span class="ahorro" id="ahorrofinal">4800 USD</span></h2>

            
        </div>
        <div class="col-7 col-s wireframe v-a-stretch">
            <h4 class="mb-1">Valor de tu propiedad: </h4>
            <input type="range" id="rangeInput" class="rangeslider mb-1" step='10000' name="rangeInput" min="80000" max="1000000" value="120000" oninput="amount.value=rangeInput.value">                                                       
            <br>          
            <output id="amount" class="output_slider calc-text" name="amount" for="rangeInput">120000</output><span class="calc-text"> USD</span>
            <br>
            <h4 class="mb-1 mt-2">Comisión: </h4>
            <input type="range" id="rangeInput2" class="rangeslider mb-1" step='0.5' name="rangeInput2" min="1" max="6" value="4" oninput="amount2.value=rangeInput2.value">                                                       
            <br> 
            <output id="amount2" class="output_slider calc-text" name="amount2" for="rangeInput2">4</output><span class="calc-text">%</span>
        </div> 
    </div>
    <div class="row mb-3 v-center wireframe">
        <div class="col-5 col-s">
            <h2>Con los que ahorrás<br>con ideal podrías..</h2>
            <h4 class="mt-1 mb-3"><span id="ahorro">¡Cambiar los muebles antiguos de tu casa!</span></h4>
            <p class="mt-1"><a href=" {% url 'venta' %} " class="btn-1-r">Quiero saber más</a></p>
        </div>
        <div class="col-7 col-s wireframe">
            <img id="img-calc" src="{% static 'ideal/calculadora/muebles.png' %}" alt="Muebles">
        </div>
    </div>


</section>


{% comment %} CALCULADORA {% endcomment %}

{% comment %} SCRIPT {% endcomment %}

    <script>
        let costo = document.querySelector("#rangeInput");
        let comision = document.querySelector("#rangeInput2");
        let outcostocomision = document.querySelector("#costocomision");
        let outahorro = document.querySelector("#ahorro");
        let ahorrofinal = document.querySelector("#ahorrofinal");
        let imagen = document.querySelector("#img-calc");
              
        costo.addEventListener("change",e=>{
            let costocomision_val = (costo.value * comision.value) / 100;
            outcostocomision.innerHTML = costocomision_val + ' USD';
            cambiarFrase()
        })     
            
        comision.addEventListener("change",e=>{
            let costocomision_val = (costo.value * comision.value) / 100;
            outcostocomision.innerHTML = costocomision_val + ' USD';
            cambiarFrase()
            
        })
              
        function cambiarFrase() {
            let costocomision_val = (costo.value * comision.value) / 100;
            let ahorro = costocomision_val-1500;
            ahorrofinal.innerHTML = ahorro + ' USD';
            
            if (ahorro > 40000) {
                outahorro.innerHTML = '¡Reservar un pasaje a marte (con Elon) y conocer el espacio exterior!';
                imagen.src = '{% static 'ideal/calculadora/marte.png' %}';
            } else if (ahorro > 20000) {
                outahorro.innerHTML = '¡Comprarte ese auto que tenés entre ceja y ceja!';
                imagen.src = '{% static 'ideal/calculadora/auto.png' %}';
            } else if (ahorro > 10000) {
                outahorro.innerHTML = '¡Pedirte vacaciones y viajar por el mundo!';
                imagen.src = '{% static 'ideal/calculadora/viaje.png' %}';
            } else if (ahorro > 2000) {
                outahorro.innerHTML = '¡Cambiar los muebles antiguos de tu casa!';
                imagen.src = '{% static 'ideal/calculadora/muebles.png' %}';
            } else {
                outahorro.innerHTML = '¡Comprarte ese celular que siempre quisiste!';
                imagen.src = '{% static 'ideal/calculadora/celular.png' %}';
            }
        }
    </script>

{% comment %} SCRIPT {% endcomment %}