{% load static %}

{% comment %} CALCULADORA {% endcomment %}


<section>
    <h2 class="h-center">¿Cuánto podes ahorrar con  <div class="logo">
        <div class="logo">
        <img src=" {% static 'img/ideal/logo.svg' %} " alt="IDEAL">
      </div>
      </div> ?</h2>
    <div class="row v50 v-center">
        <div class="col-6 col-s v-a-stretch mt-2">
            <h4 class="mb-1">Valor de tu propiedad: </h4>
            <input type="range" id="rangeInput" class="rangeslider mb-1" step='10000' name="rangeInput" min="80000" max="1000000" value="120000" oninput="amount.value=rangeInput.value">                                                       
            <br>          
            <span class="calc-text">U$S </span><output id="amount" class="output_slider calc-text" name="amount" for="rangeInput">120000</output>
            <br>
            <h4 class="mb-1 mt-2">Comisión: </h4>
            <input type="range" id="rangeInput2" class="rangeslider mb-1" step='0.5' name="rangeInput2" min="1" max="6" value="4" oninput="amount2.value=rangeInput2.value">                                                       
            <br> 
            <output id="amount2" class="output_slider calc-text" name="amount2" for="rangeInput2">4</output><span class="calc-text">%</span>
            <p class="mt-3"><a href=" {% url 'venta' %} " class="btn-1-r">¡Quiero ahorrar YA!</a></p>
        </div> 
        <div class="col-1 hidden"></div>
        <div class="col-5 col-s">
            <h4 class="mt-1">Ahorrás</h4>
            <h2 class="ahorro"><span class="ahorro" id="ahorrofinal">U$S 4800</span></h2>
            <p class=" text mt-1 mb-3"><span id="ahorro">¡Cambiar los muebles antiguos de tu casa!</span></p>
            <img id="img-calc" src="{% static 'img/ideal/calculadora/muebles.png' %}" alt="Muebles">
        </div>
    </div>
</section>

<script>
    let costo = document.querySelector("#rangeInput");
    let comision = document.querySelector("#rangeInput2");
    let outcostocomision = document.querySelector("#costocomision");
    let outahorro = document.querySelector("#ahorro");
    let ahorrofinal = document.querySelector("#ahorrofinal");
    let imagen = document.querySelector("#img-calc");
          
    costo.addEventListener("change",e=>{
        cambiarFrase()
    })     
        
    comision.addEventListener("change",e=>{
        cambiarFrase()
        
    })
          
    function cambiarFrase() {
        let costocomision_val = (costo.value * comision.value) / 100;
        let ahorro = costocomision_val-500;
        ahorrofinal.innerHTML = 'U$S ' + ahorro;
        
        if (ahorro > 40000) {
            outahorro.innerHTML = '¡Reservar un pasaje a marte (con Elon) y conocer el espacio exterior!';
            imagen.src = '{% static 'img/ideal/calculadora/marte.png' %}';
        } else if (ahorro > 20000) {
            outahorro.innerHTML = '¡Comprarte ese auto que tenés entre ceja y ceja!';
            imagen.src = '{% static 'img/ideal/calculadora/auto.png' %}';
        } else if (ahorro > 10000) {
            outahorro.innerHTML = '¡Pedirte vacaciones y viajar por el mundo!';
            imagen.src = '{% static 'img/ideal/calculadora/viaje.png' %}';
        } else if (ahorro > 2000) {
            outahorro.innerHTML = '¡Cambiar los muebles antiguos de tu casa!';
            imagen.src = '{% static 'img/ideal/calculadora/muebles.png' %}';
        } else {
            outahorro.innerHTML = '¡Comprarte ese celular que siempre quisiste!';
            imagen.src = '{% static 'img/ideal/calculadora/celular.png' %}';
        }
    }
</script>

