{% extends 'base.html' %}
{% load static %}

{% block title %}{{clasificado.nombre}}{% endblock title %}


{% block content %}

{% comment %} {% include 'myapp/filtros.html' %} {% endcomment %}
<main>
    <div id="imprimir" class="pt-3">
        <!-- {% if clasificado.vendedor.estado == 'Vendedor' or clasificado.vendedor.estado == 'Ambas' %}
            <p>Vendedor: {{ clasificado.vendedor.nombre }} {{ clasificado.vendedor.apellido }}</p>
            <p>{{ clasificado.vendedor.email }}</p>
            <a href="https://api.whatsapp.com/send?phone={{clasificado.vendedor.tel}}&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20{{clasificado.tipologia}}%20ubicado%20en%20{{ubicacion.direccion}}%202." target="_blank"><i class="fa fa-whatsapp my-float whatsicon"></i></a>
        {% endif %} -->
        

        <p class="text pt-3 mb-2"><strong>Venta</strong> > {{ clasificado.tipologia }} > {{ clasificado.barrio }} > {{ clasificado.ambientes }} Ambientes > {{clasificado.direccion}}</p>
        <div class="row v-center mt-1 mb-3">
            <div class="col-8 col-6-m">
                <h2 class="">{{clasificado.tipologia}} • {{clasificado.m2_totales}}m²</h2>
                <p class="text">{{clasificado.direccion}}, {{ clasificado.barrio }}</p>
            </div>
            <div class="col-4 col-6-m">
                <h2 class=" ahorro h-end">{{clasificado.costo}} {{clasificado.moneda_costo}}</h2>
                <p class="text h-end">Expensas: {{clasificado.moneda_expensas}}{{ clasificado.expensas }}</p>
            </div>
        </div>

        {% comment %} <div class="row">
            <img id="img-clasificado" class="col" src="{{ clasificado.imagen_principal.url }}" alt="">
        </div> {% endcomment %}

        {% include 'carrousel.html' %}

        {% comment %} <div class="row">
            {% for foto in fotos %}
                <img id="img-clasificado" class="clasificado-mini col-2" src="{{ foto.imagen.url }}" alt="{{ foto.nombre }}">
            {% endfor %}
        </div> {% endcomment %}

        <div class="row">
            <div class="col-7 col-s">
                <h2>Días de visitas</h2>
                <p class="calc-text mb-1">{{clasificado.visita}}</p>
                <h4 class="bb mb-2">Unidad</h4>
                <div class="row mb-1">
                    <div class="col-3">
                        <img class="img-center icono-caracteristica" src="{% static 'img/ideal/iconos/ambiente.svg' %}" alt="">
                        <p class="h-center"><strong>Ambientes: </strong><br/>{{clasificado.ambientes}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center icono-caracteristica" src="{% static 'img/ideal/iconos/sup.svg' %}" alt="">
                        <p class="h-center"><strong>Superficie: </strong><br/>{{clasificado.m2_totales}}m²</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center icono-caracteristica" src="{% static 'img/ideal/iconos/cama.svg' %}" alt="">
                        <p class="h-center"><strong>Dormitorios: </strong><br/>{{clasificado.dormitorios}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center icono-caracteristica" src="{% static 'img/ideal/iconos/banio.svg' %}" alt="">
                        <p class="h-center"><strong>Baños: </strong><br/>{{clasificado.banios}}</p>
                    </div>
                <!-- </div>
                <div class="row"> -->
                    <div class="col-3">
                        <img class="img-center icono-caracteristica" src="{% static 'img/ideal/iconos/balcon.svg' %}" alt="">
                        <p class="h-center"><strong>Balcones: </strong><br/>{{clasificado.balcones}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center icono-caracteristica" src="{% static 'img/ideal/iconos/orientacion.svg' %}" alt="">
                        <p class="h-center"><strong>Orientación: </strong><br/>{{clasificado.orientacion}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center icono-caracteristica" src="{% static 'img/ideal/iconos/supcub.svg' %}" alt="">
                        <p class="h-center"><strong>Sup. Cubierta: </strong><br/>{{clasificado.m2_cubiertos}}m²</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center icono-caracteristica" src="{% static 'img/ideal/iconos/cocheras.svg' %}" alt="">
                        <p class="h-center"><strong>Cocheras: </strong><br/>{{clasificado.cocheras}}</p>
                    </div>
                </div>
                <h4 class="bb mb-1">Edificio</h4>
                <div class="row mb-2">
                    <div class="col-3">
                        <img class="img-center icono-caracteristica" src="{% static 'img/ideal/iconos/antiguedad.svg' %}" alt="">
                        <p class="h-center"><strong>Antiguedad: </strong><br/>{{clasificado.antiguedad}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center icono-caracteristica" src="{% static 'img/ideal/iconos/edificio.svg' %}" alt="">
                        <p class="h-center"><strong>Cant. de pisos: </strong><br/>{{clasificado.cant_de_pisos}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center icono-caracteristica" src="{% static 'img/ideal/iconos/sup.svg' %}" alt="">
                        <p class="h-center"><strong>Depto. por piso: </strong><br/>{{clasificado.depto_por_piso}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center" src="{% static 'img/ideal/iconos/edificio.svg' %}" alt="">
                        <p class="h-center"><strong>Disposición: </strong><br/>{{clasificado.disposicion}}</p>
                    </div>
                </div>
                <h4 class="bb mb-2">Amenities</h4>
                <div class="row mb-2">
                    <div class="col-3 inline h-c-start">
                            {% if clasificado.salon_usos_multiples %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/checked.svg' %}" alt="">
                            {% else %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/unchecked.svg' %}" alt="">
                            {% endif %}
                            <p class=""><strong>Sum</strong></p>
                    </div>
                    <div class="col-3 inline h-c-start">
                            {% if clasificado.pileta %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/checked.svg' %}" alt="">
                            {% else %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/unchecked.svg' %}" alt="">
                            {% endif %}
                            <p class=""><strong>Pileta</strong></p>
                    </div>
                    <div class="col-3 inline h-c-start">
                            {% if clasificado.seguridad %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/checked.svg' %}" alt="">
                            {% else %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/unchecked.svg' %}" alt="">
                            {% endif %} 
                            <p class=""><strong>Seguridad</strong></p>
                    </div>
                    <div class="col-3 inline h-c-start">
                            {% if clasificado.juegos %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/checked.svg' %}" alt="">
                            {% else %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/unchecked.svg' %}" alt="">
                            {% endif %} 
                            <p class=""><strong>S. de Juegos</strong></p>
                    </div>
                    <div class="col-3 inline h-c-start">
                            {% if clasificado.parrilla %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/checked.svg' %}" alt="">
                            {% else %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/unchecked.svg' %}" alt="">
                            {% endif %} 
                            <p class=""><strong>Parrilla</strong></p>
                    </div>
                    <div class="col-3 inline h-c-start">
                            {% if clasificado.gimnasio %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/checked.svg' %}" alt="">
                            {% else %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/unchecked.svg' %}" alt="">
                            {% endif %}
                            <p class=""><strong>Gimnasio</strong></p>
                    </div>
                    <div class="col-3 inline h-c-start">
                            {% if clasificado.laundry %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/checked.svg' %}" alt="">
                            {% else %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/unchecked.svg' %}" alt="">
                            {% endif %}
                            <p class=""><strong>Laundry</strong></p>
                    </div>
                    <div class="col-3 inline h-c-start">
                            {% if clasificado.aire_acondicionado %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/checked.svg' %}" alt="">
                            {% else %}
                                <img class="mr-1 checked" src="{% static 'img/ideal/iconos/unchecked.svg' %}" alt="">
                            {% endif %} 
                            <p class=""><strong>Aire Acond.</strong></p>
                    </div>
                </div>
            </div>
            <form class="col-5 col-s card-contacto" method="POST">
                <div>
                    <p class="h-center text mt-1">Me interesa<br/>esta propiedad</p>
                    <div class="row mt-3">
                        <a class="col-6" href="mailto:ideal@gmail.com">
                            <img class="img-center" src=" {% static 'img/ideal/redes/mail.svg' %} " alt="">
                            {% comment %} <p class="h-center text mt-1">Enviar e-mail</p> {% endcomment %}
                        </a>
                        <a class="col-6" href="https://api.whatsapp.com/send?phone=541144726070&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20{{clasificado.nombre}}%20ubicado%20en%20{{clasificado.direccion}}%202." target="_blank">
                            <img class="img-center" src=" {% static 'img/ideal/redes/whatsapp.svg' %} " alt="">
                            {% comment %} <p class="h-center text mt-1">Enviar Whatsapp</p> {% endcomment %}
                        </a>
                    </div>
                    <div class="form-group p-1">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn-1-r" type="submit" value="Enviar">
                    </div>
                </div>
            </form>
        </div>

       


        <!-- UBICACION -->
        <h2 class="bb mb-2 mt-3">Ubicación</h2>
        <!--Google map-->
        <div id="map-container-google-1" class="map-container row mb-5">
            <iframe src="{{clasificado.mapa}}" class="col" allowfullscreen></iframe>
        </div>
        <!--Google Maps-->

         <!-- TOUR 360 -->
        <h2 class="bb mb-2 mt-3">Recorrido 360º</h2>
        <a class="tour360 row v-center" href="{{clasificado.tour}}" target=_blank>
            <div class="col-8 col-s pl-2">
                <h2>Recorré esta propiedad<br>desde una visita virtual</h2>
                <p class="text mt-1">¡Hace <strong>click aquí</strong> para iniciar el tour 360º!</p>
            </div>
            <div class="col-4 col-s">
                <img src="{% static 'img/ideal/principal.jpeg' %}" id="img-360" alt="Imagen">
            </div>
        </a>
        
        <!-- YOUTUBE -->
        <h2 class="bb mb-2 mt-3">Video</h2>
        <div class="”video-responsive”">
            <iframe src="{{clasificado.youtube}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        
        <!-- INFO EXTRA -->
        <h2 class="bb mb-2 mt-3">Información adicional</h2>
        <p class="text">{{clasificado.descripcion}}</p>


        <!-- INTERESADO -->
        <section class="mb-3 mt-3">
            <h2 class="h-center mt-3 mb-2">¿Estás interesado en esta<br>propiedad?</h2>
            <p class="h-center"><a href="#" class="btn-1-r mt-3">¡Quiero que me contacten!</a></p>
        </section>


        <section class="row mt-2 mb-3">
            <h2 class="col bb">Publicaciones similares</h2>
            {% for similar in similares %} 
                    <div class="col-4 col-6-m col-s card-clasificado mb-2">
                        <img id="img-portal" src="{{ similar.imagen_principal.url }}" alt="Foto Principal">
                        
                        <div class="row v-center p-1 bb">
                            <div class="col-7">
                                <p class="text">{{ similar.tipologia }} | {{ similar.direccion }}</p>
                                <p class="calc-text">{{ similar.moneda_costo }} {{ similar.costo }}</p>
                            </div>
                            <div class="col-5 t-end">
                                <a class="btn-1-r" href="{% url 'clasificado_detalle' similar.pk %}">Ver más</a>
                            </div>
    
                        </div>
                        
                        <div id="barra-abajo" class="row bl-r br-r">
                            <div class="col-4 br inline h-c-center bl-r">
                                <img class="pr-1 pt-1 pb-1" src="{% static 'img/ideal/iconos/ambientes.svg' %}" alt="">
                                <p class="text pt-1 pb-1">{{ similar.ambientes }}</p>
                            </div>
                            <div class="col-4 inline h-c-center">
                                <img class="pr-1 pt-1 pb-1" src="{% static 'img/ideal/iconos/banios.svg' %}" alt="">
                                <p class="text pt-1 pb-1">{{ similar.banios }}</p>
                            </div>
                            <div class="col-4 bl inline h-c-center br-r">
                                <img class="pr-1 pt-1 pb-1" src="{% static 'img/ideal/iconos/m2.svg' %}" alt="">
                                <p class="text pt-1 pb-1">{{ similar.m2_totales }}m²</p>
                            </div>
                        </div>
                    </div>    
                {% endfor %}
        </section>
        
        
        
    </div>
    <!-- <button id="download" class="btn-1-r h-center">Descarga ficha PDF</button> -->
    <!-- <button class="btn-1-r" id="download"> download pdf</button> -->

</main>
<script>

    // Descargar publicacion como PDF

          window.onload = function () {
          document.getElementById("download")
          .addEventListener("click", () => {
              const invoice = this.document.getElementById("imprimir");
              var opt = {
                  margin: 0,
                  filename: 'ideal.pdf',
                  image: { type: 'jpeg', quality: 1 },
                  html2canvas: { scale: 1 },
                  jsPDF: { unit: 'mm', format: 'A3', orientation: 'portrait' }
              };
              html2pdf().from(invoice).set(opt).save();
          })
      }

</script>

{% endblock content %}
