{% extends 'base.html' %}
{% load static %}

{% block title %}Clasificado{% endblock title %}


{% block content %}

{% comment %} {% include 'myapp/filtros.html' %} {% endcomment %}
<main>
    <div id="imprimir" class="pt-3">
        <!-- {% if clasificado.vendedor.estado == 'Vendedor' or clasificado.vendedor.estado == 'Ambas' %}
            <p>Vendedor: {{ clasificado.vendedor.nombre }} {{ clasificado.vendedor.apellido }}</p>
            <p>{{ clasificado.vendedor.email }}</p>
            <a href="https://api.whatsapp.com/send?phone={{clasificado.vendedor.tel}}&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20{{clasificado.tipologia}}%20ubicado%20en%20{{ubicacion.direccion}}%202." target="_blank"><i class="fa fa-whatsapp my-float whatsicon"></i></a>
        {% endif %} -->
        

        <p class="text pt-3 mb-3"><strong>Venta</strong> > {{ clasificado.tipologia }} > {{ clasificado.barrio }} > {{ clasificado.ambientes }} Ambientes > {{clasificado.direccion}}</p>
        <div class="row v-center mt-3 mb-3">
            <div class="col-10">
                <h2 class="">{{clasificado.tipologia}} | {{clasificado.m2_totales}}m2</h2>
                <p class="text">{{clasificado.direccion}} | {{ clasificado.barrio }}</p>
            </div>
            <div class="col-2">
                <p>{{clasificado.costo}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-8 pr-2">
                <h4 class="bb mb-2">Características</h4>
                <div class="row mb-2">
                    <div class="col-3">
                        <img class="img-center" src="{% static 'ideal/iconos/ambiente.svg' %}" alt="">
                        <p class="h-center">Baños: {{clasificado.banios}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center" src="{% static 'ideal/iconos/ambiente.svg' %}" alt="">
                        <p class="h-center">Baños: {{clasificado.banios}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center" src="{% static 'ideal/iconos/ambiente.svg' %}" alt="">
                        <p class="h-center">Baños: {{clasificado.banios}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center" src="{% static 'ideal/iconos/ambiente.svg' %}" alt="">
                        <p class="h-center">Baños: {{clasificado.banios}}</p>
                    </div>
                </div>
                <h4 class="bb mb-2">Servicios</h4>
                <div class="row mb-2">
                    <div class="col-3">
                        <img class="img-center" src="{% static 'ideal/iconos/ambiente.svg' %}" alt="">
                        <p class="h-center">Baños: {{clasificado.banios}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center" src="{% static 'ideal/iconos/ambiente.svg' %}" alt="">
                        <p class="h-center">Baños: {{clasificado.banios}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center" src="{% static 'ideal/iconos/ambiente.svg' %}" alt="">
                        <p class="h-center">Baños: {{clasificado.banios}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center" src="{% static 'ideal/iconos/ambiente.svg' %}" alt="">
                        <p class="h-center">Baños: {{clasificado.banios}}</p>
                    </div>
                </div>
                <h4 class="bb mb-2">Destacados</h4>
                <div class="row mb-2">
                    <div class="col-3">
                        <img class="img-center" src="{% static 'ideal/iconos/ambiente.svg' %}" alt="">
                        <p class="h-center">Baños: {{clasificado.banios}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center" src="{% static 'ideal/iconos/ambiente.svg' %}" alt="">
                        <p class="h-center">Baños: {{clasificado.banios}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center" src="{% static 'ideal/iconos/ambiente.svg' %}" alt="">
                        <p class="h-center">Baños: {{clasificado.banios}}</p>
                    </div>
                    <div class="col-3">
                        <img class="img-center" src="{% static 'ideal/iconos/ambiente.svg' %}" alt="">
                        <p class="h-center">Baños: {{clasificado.banios}}</p>
                    </div>
                </div>
            </div>
            <div class="col-4 card-contacto pl-2">
                <h4 class="h-center">¡Contactate!</h4>
                <div>
                    <a href="#">
                        <img src="{% static 'ideal/redes/whatsapp.svg' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'ideal/redes/mail.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>

        <!-- TOUR 360 -->
        <a class="tour360 row v-center" href="#">
            <div class="col-8 p-2">
                <h2>Recorré esta propiedad<br>desde una visita virtual</h2>
                <p class="text mt-1">¡Hace click aquí para iniciar el tour 360!</p>
            </div>
            <div class="col-4">
                <img src="" alt="Imagen">
            </div>
        </a>


        <!-- UBICACION -->
        <h2 class="bb mb-2">Ubicación</h2>
        <div class="row">
            <div class="col-4">
                <p class="text">{{clasificado.direccion}}</p>
                <p class="text">{{clasificado.barrio}} | CP: {{clasificado.cp}}</p>
            </div>
            <div class="col-8">
                
            </div>
        </div>
        
        <!-- INFO EXTRA -->
        <h2 class="bb mb-3 mt-3">Información adicional</h2>
        <p class="text">{{clasificado.descripcion}}</p>


        <!-- INTERESADO -->
        <h2 class="h-center mt-3 mb-2">¿Estás interesado en esta propiedad?</h2>
        <div class="mb-3">
            <a class="btn-1-r h-center" href="#">¡Contactate!</a>
            <button id="download" class="btn-1-r h-center">Descarga ficha PDF</button>
        </div>



        <!-- {% if caracteristica.cable == True %}
            <p>Cable</p>
        {% endif %} -->






    </div>
    <!-- <button class="btn-1-r" id="download"> download pdf</button> -->

</main>
<script>

    // Descargar publicacion como PDF

          window.onload = function () {
          document.getElementById("download")
          .addEventListener("click", () => {
              const invoice = this.document.getElementById("imprimir");
              var opt = {
                  margin: 0,
                  filename: 'ideal.pdf',
                  image: { type: 'jpeg', quality: 1 },
                  html2canvas: { scale: 1 },
                  jsPDF: { unit: 'mm', format: 'A3', orientation: 'portrait' }
              };
              html2pdf().from(invoice).set(opt).save();
          })
      }

</script>

{% endblock content %}
