{% load static %}

{% comment %} ¿ COMO FUNCIONA ? {% endcomment %}

  <section class="mb-3">
    <h2 class="h-center mb-3">¿Cómo funciona?</h2>
    <div class="row v-start">
      <div class="col-3 col-s p-1 wireframe v-a-start">
        <img class="img-center m-1 wireframe icono" src=" {% static 'ideal/iconos/plan.svg' %} " alt="">
        <h4 class="h-center mb-1 text">ELEGI TU PLAN IDEAL</h4>
        <p class="h-center text">Elegí un plan de venta y decidí cuánto querés involucrarte en el proceso de venta de tu casa. ¡Nuestros expertos te asesorarán y estarán a disposición para aclarar cualquier duda que tengas durante todo el proceso!</p>
      </div>
      <div class="col-3 col-s p-1 wireframe v-a-start">
        <img class="img-center m-1 wireframe icono" src=" {% static 'ideal/iconos/comofunciona.svg' %} " alt="">
        <h4 class="h-center mb-1 text">PUBLICAMOS TU CASA</h4>
        <p class="h-center text">Tasamos tu propiedad y la convertimos en algo único, con fotos profesionales, video, tour 360 y un plan de marketing dedicado para posicionar tu anuncio en los principales portales inmobiliarios</p>
      </div>
      <div class="col-3 col-s p-1 wireframe v-a-start">
        <img class="img-center m-1 wireframe icono" src=" {% static 'ideal/iconos/interesados.svg' %} " alt="">
        <h4 class="h-center mb-1 text">ATRAEMOS INTERESADOS</h4>
        <p class="h-center text">Una vez publicada tu casa, atraemos interesados a través de nuestras herramientas de marketing online. Coordinamos visitas según tu disponibilidad o incluso las realizamos por vos.</p>
      </div>
      <div class="col-3 col-s p-1 wireframe v-a-start">
        <img class="img-center m-1 wireframe icono" src=" {% static 'ideal/iconos/like.svg' %} " alt="">
        <h4 class="h-center mb-1 text">¡TU CASA SE VENDE!</h4>
        <p class="h-center text">Elegí la oferta más conveniente y obtené una mayor ganancia al vender tu casa! Seguí el proceso entre particulares y asegurate de recomendar nuestros servicios!</p>
      </div>
    </div>
  </section>

{% comment %} ¿ COMO FUNCIONA ? {% endcomment %}