{% comment %} FAQS {% endcomment %}
    
    <section id="seccion-faqs">
        <h2 class="h-center mb-3">Preguntas frecuentes</h2>

        <!-- General -->
        <details>
            <summary id="faqs" class="mb-1">General</summary>          
            <p></p>         
            {% for faq in faqs %}
                {% if faq.categoria == 'General' %}
                    <details>
                        <summary>{{faq.pregunta}}</summary> 
                        <p class="pl-2 pt-1 pb-2 faq-respuesta">{{faq.respuesta}}</p>    
                    </details>
                {% endif %}
            {% endfor %}
        </details>
        <!-- General -->

        <!-- Servicio -->
        <details>
            <summary id="faqs" class="mb-1">Servicio</summary>          
            <p></p>         
            {% for faq in faqs %}
                {% if faq.categoria == 'Servicio' %}
                    <details>
                        <summary>{{faq.pregunta}}</summary> 
                        <p class="pl-2 pt-1 pb-2 faq-respuesta">{{faq.respuesta}}</p>   
                    </details>
                {% endif %}
            {% endfor %}
        </details>
        <!-- Servicio -->

        <!-- Post-Publicación -->
        <details>
            <summary id="faqs" class="mb-1">Post-Publicación</summary>          
            <p></p>         
            {% for faq in faqs %}
                {% if faq.categoria == 'Post-Publicación' %}
                    <details>
                        <summary>{{faq.pregunta}}</summary> 
                        <p class="pl-2 pt-1 pb-2 faq-respuesta">{{faq.respuesta}}</p>   
                    </details>
                {% endif %}
            {% endfor %}
        </details>
        <!-- Post-Publicación -->

    </section>

{% comment %} FAQS {% endcomment %}