{% comment %} FAQS {% endcomment %}
    
    <section>
        <h2 class="h-center mb-3">Preguntas frecuentes</h2>
        <details>
            <summary>Pregunta 1</summary>
            <div class="details-content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempora quod blanditiis illum praesentium ipsa, eligendi soluta dolore vitae. Vitae fuga, magni in perspiciatis omnis facere sit ad sequi atque!
                </p>
            </div>
        </details>
    </section>

{% comment %} FAQS {% endcomment %}