{% comment %} FAQS {% endcomment %}
    
    <section>
        <h2 class="h-center mb-3">Preguntas frecuentes</h2>

        <!-- General -->
        <details>
            <summary>General</summary>
            <div class="details-content">
                <p>
                </p>
            </div>

            <details>
                <summary>¿Es Ideal una inmobiliaria? ¿Hacen de intermediarios?</summary>
                <div class="details-content">
                    <p>No, no somos una inmobiliaria ni tampoco somos intermediarios entre partes. Nuestra propuesta te ayuda a VOS a vender tu propiedad entre particulares. Te damos soporte y servicio para publicar tu casa, maximizando tanto la ganancia que obtenés como el tiempo que tardas en concretar la venta. 
                    </p>
                </div>
            </details>

            <details>
                <summary>¿Ideal cobra comisiones?</summary>
                <div class="details-content">
                    <p>No somos inmobiliaria, no intermediamos y por lo tanto NO COBRAMOS COMISION. La negociación se realiza entre particulares, nosotros solo facilitamos los medios necesarios para que el vendedor pueda insertar su publicación en el mercado, aumentando su alcance y asesorandolo en todo el proceso. . 
                    </p>
                </div>
            </details>

            <details>
                <summary>¿Por qué me conviene contratar Ideal?</summary>
                <div class="details-content">
                    <p>Porque ponemos a tu disposición todos los servicios que existen en la actualidad para la venta de inmuebles, a través de la implementación de tecnología  logramos modernizar los procesos consiguiendo un mayor dinamismo y principalmente REDUCIENDO los costes innecesarios. La aplicación de estas tecnologías sumadas a nuestro conocimiento de marketing digital permiten que hoy VOS puedas vender tu inmueble en forma segura, con el debido asesoramiento, sin intermediarios y a un precio REAL.
                    </p>
                </div>
            </details>

            <details>
                <summary>¿Qué hacen para vender mi casa mejor que otros?</summary>
                <div class="details-content">
                    <p>Nos enfocamos en 3 cosas para asegurar que tu casa se vende rápido y en el mejor valor:

                        - Excelente presentación de tu propiedad
                        - Plan de marketing potente y conocimiento para alcanzar la mayor cantidad de potenciales compradores
                        - Mejor manejo de procesos para agilizar el tiempo medio de venta
                        
                        En primer lugar, nos encargamos de tomar fotos de calidad que realcen cada ambiente de tu casa y el tamaño de los espacios. Tu casa es tu tarjeta de presentación, nuestro equipo de profesionales se encargará de obtener las mejores fotografías y capturar sus mejores ángulos (contamos inclusive con un servicio adicional de ambientación y decoración). Complementamos esto con plano, video, tour 360º y finalizamos redactando un anuncio que resalte las cualidades más importantes de tu casa.
                        
                        Luego, volcamos toda nuestra experiencia en marketing para colocar tu inmueble en el mercado, publicamos tu anuncio en los portales inmobiliarios más importantes del país llegando a la mayor cantidad de potenciales compradores. Nuestra fortaleza es el conocimiento del mercado, el marketing online y la optimización del manejo de procesos, lo que te brindamos para que puedas vender tu casa de la forma más eficiente.                                                                                                                                                                 Por último, controlamos semanalmente el alcance de la publicación y filtramos los llamados de los "simples curiosos" para acercarte únicamente a los reales interesados, evitando que malgastes tu tiempo y agilizando el tiempo de venta.
                    </p>
                </div>
            </details>

        </details>
        <!-- General -->

        <!-- Servicio -->
        <details>
            <summary>Servicio</summary>
            <div class="details-content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempora quod blanditiis illum praesentium ipsa, eligendi soluta dolore vitae. Vitae fuga, magni in perspiciatis omnis facere sit ad sequi atque!
                </p>
            </div>

            <details>
                <summary>¿Qué incluye el coste fijo por ayudarme a vender mi propiedad?</summary>
                <div class="details-content">
                    <p>
                        Los planes IDEAL están hechos para que vos elijas la mejor forma de vender tu casa.  Se ofrecen en PESOS, lo que permite al vendedor MAXIMIZAR SUS GANANCIAS y desdolarizar las operaciones vinculadas a la compraventa de inmuebles.                                                                                                        Ofrecemos todo lo necesario para que aceleres el proceso de venta: Tasación gratuita, fotografía profesional, plano, video y tour 360º, redacción del anuncio, publicación en los portales más visitados para que todos sepan que vendes tu casa, potenciado con un plan de marketing potente y filtrado de llamadas con coordinación de visitas, para que tu solo te enfoques en la negociación de particular a particular.         
                        
                        Podemos realizar las visitas por ti en caso de ser necesario y contás con un equipo de expertos que te acompaña en todo momento, aclarando dudas y consultas. Haz click en el LOGO (logo IDEAL?) y elije el plan que mejor se adapta a tus necesidades. 
                    </p>
                </div>
            </details>

        </details>
        <!-- Servicio -->
        
        <!-- Post -->
        <details>
            <summary>Post-publicación</summary>
            <div class="details-content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus tempora quod blanditiis illum praesentium ipsa, eligendi soluta dolore vitae. Vitae fuga, magni in perspiciatis omnis facere sit ad sequi atque!
                </p>
            </div>
        </details>
        <!-- Post -->
    </section>

{% comment %} FAQS {% endcomment %}