{% load static %}

<footer class="row v-center">
    <div class="col-4 col-s">
        <div class="logo">
            <img src=" {% static 'ideal/icono.svg' %} " alt="IDEAL">
            <img src=" {% static 'ideal/ideal.svg' %} " alt="IDEAL">
        </div>
        <p>Copyright © 2021</p>
        <p>Todos los derechos reservados.</p>
    </div>
    <div class="col-3 col-s">
        <a href="#"><h4>Ideal</h4></a>
        <a href="#"><p>Vender</p></a>
        <a href="#"><p>Comprar</p></a>
        <a href="#"><p>Contacto</p></a>
    </div>
    <div class="col-3 col-s">
        <a href="whatsapp://send?text=The text to share! https://app-ideal.herokuapp.com" data-action="share/whatsapp/share">Whatsapp</a>
        <a href="#"><p>Terminos y condiciones</p></a>
        <a href="#"><p>Legal</p></a>
        <a href="#"><p>Politica de privacidad</p></a>
    </div>
    <img  class="col-2 col-s h-end" src=" {% static 'ideal/footer/qr.svg' %} " alt="">




</footer>