{% extends 'base.html' %}
{% load static %}

{% block title %}IDEAL{% endblock title %}

{% block content %}

<main>
{% comment %} PROPUESTA {% endcomment %}

  <section class="v100 row v-center">
    <div class="col-6 col-s">
      <div class="logo">
        <img src=" {% static 'myapp/ideal/icono.svg' %} " alt="IDEAL">
        <img src=" {% static 'myapp/ideal/ideal.svg' %} " alt="IDEAL">
      </div>
      <h1>Conocé la <br>nueva revolución <br>inmobiliaria</h1>
      <p class="text mb-2">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
      <p class="mt-1"><a href="#" class="btn-1-r">Quiero saber más</a></p>
    </div>
    <img class="col-6 img-principal" src="" alt="">
  </section>

{% comment %} PROPUESTA {% endcomment %}


{% comment %} {% include 'myapp/comofunciona.html' %} {% endcomment %}

{% comment %} {% include 'myapp/calculadora.html' %} {% endcomment %}


{% comment %} ¿ POR QUÉ IDEAL ? {% endcomment %}

  <section class="v100">
    <h2 class="h-center">¿Por qué IDEAL?</h2>
    <p class="h-center text mb-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur illo porro ipsam cum amet saepe autem, incidunt delectus praesentium eum maxime corrupti exercitationem culpa consequatur alias quaerat facilis? Quibusdam, quam?</p>
    <div class="row v-center mb-3">
      <div class="col-4 col-s">
        <img class="img-center mb-1" src=" {% static 'myapp/ideal/ameba.svg' %} " alt="">
        <h4 class="h-center mb-1">Feature</h4>
        <p class="h-center text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi saepe adipisci possimus doloremque at accusantium quo fugit, sint veritatis consectetur nemo! Et dolore laudantium quis soluta fugit temporibus, suscipit quo.</p>
      </div>
      <div class="col-4 col-s">
        <img class="img-center mb-1" src=" {% static 'myapp/ideal/ameba.svg' %} " alt="">
        <h4 class="h-center mb-1">Feature</h4>
        <p class="h-center text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi saepe adipisci possimus doloremque at accusantium quo fugit, sint veritatis consectetur nemo! Et dolore laudantium quis soluta fugit temporibus, suscipit quo.</p>
      </div>
      <div class="col-4 col-s">
        <img class="img-center mb-1" src=" {% static 'myapp/ideal/ameba.svg' %} " alt="">
        <h4 class="h-center mb-1">Feature</h4>
        <p class="h-center text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi saepe adipisci possimus doloremque at accusantium quo fugit, sint veritatis consectetur nemo! Et dolore laudantium quis soluta fugit temporibus, suscipit quo.</p>
      </div>
    </div>
    <div class="row v-center">
      <div class="col-4 col-s">
        <img class="img-center mb-1" src=" {% static 'myapp/ideal/ameba.svg' %} " alt="">
        <h4 class="h-center mb-1">Feature</h4>
        <p class="h-center text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi saepe adipisci possimus doloremque at accusantium quo fugit, sint veritatis consectetur nemo! Et dolore laudantium quis soluta fugit temporibus, suscipit quo.</p>
      </div>
      <div class="col-4 col-s">
        <img class="img-center mb-1" src=" {% static 'myapp/ideal/ameba.svg' %} " alt="">
        <h4 class="h-center mb-1">Feature</h4>
        <p class="h-center text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi saepe adipisci possimus doloremque at accusantium quo fugit, sint veritatis consectetur nemo! Et dolore laudantium quis soluta fugit temporibus, suscipit quo.</p>
      </div>
      <div class="col-4 col-s">
        <img class="img-center mb-1" src=" {% static 'myapp/ideal/ameba.svg' %} " alt="">
        <h4 class="h-center mb-1">Feature</h4>
        <p class="h-center text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi saepe adipisci possimus doloremque at accusantium quo fugit, sint veritatis consectetur nemo! Et dolore laudantium quis soluta fugit temporibus, suscipit quo.</p>
      </div>
    </div>
  </section>

{% comment %} ¿ POR QUÉ IDEAL ? {% endcomment %}

{% comment %} {% include 'myapp/nuevarev.html' %} {% endcomment %}


{% comment %} PORTALES {% endcomment %}

  <section class="v50">
    <div class="row v-center">
      <div class="col-4 col-s">
        <h2>2.000+</h2>
        <p class="text">Usuarios que verán tus inmuebles.</p>
        <p class="mt-1"><a href="#" class="btn-1-r">Quiero saber más</a></p>
      </div>
      <div class="col-8 col-s">
        <div class="row">
          <img class="img-center portales col-4 col-6-s v-center" src=" {% static 'myapp/ideal/portales/argenprop.svg' %} " alt="">
          <img class="img-center portales col-4 col-6-s v-center" src=" {% static 'myapp/ideal/portales/zonaprop.svg' %} " alt="">
          <img class="img-center portales col-4 col-6-s v-center" src=" {% static 'myapp/ideal/portales/properati.svg' %} " alt="">
        </div>
      </div>
    </div>
  </section>

{% comment %} PORTALES {% endcomment %}

{% comment %} CLIENTES {% endcomment %}

<section class="v80">

  <h2 class="h-center">¿Por qué IDEAL?</h2>
  <p class="h-center text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur illo porro ipsam cum amet saepe autem, incidunt delectus praesentium eum maxime corrupti exercitationem culpa consequatur alias quaerat facilis? Quibusdam, quam?</p>
  <div class="row v-center">

    <div class="col-4">
      <div class="card">
        <h3 class="h-center">Review</h3>
        <p class="h-center text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi saepe adipisci possimus doloremque at accusantium quo fugit, sint veritatis consectetur nemo! Et dolore laudantium quis soluta fugit temporibus, suscipit quo.</p>
      </div>
      <div>
        <h4 class="h-center">Nombre</h4>
        <p class="h-center text">Vendedor</p>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <h3 class="h-center">Review</h3>
        <p class="h-center text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi saepe adipisci possimus doloremque at accusantium quo fugit, sint veritatis consectetur nemo! Et dolore laudantium quis soluta fugit temporibus, suscipit quo.</p>
      </div>
      <div>
        <h4 class="h-center">Nombre</h4>
        <p class="h-center text">Vendedor</p>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <h3 class="h-center">Review</h3>
        <p class="h-center text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi saepe adipisci possimus doloremque at accusantium quo fugit, sint veritatis consectetur nemo! Et dolore laudantium quis soluta fugit temporibus, suscipit quo.</p>
      </div>
      <div>
        <h4 class="h-center">Nombre</h4>
        <p class="h-center text">Vendedor</p>
      </div>
    </div>

  </div>
</section>



{% comment %} CLIENTES {% endcomment %}

</main>

{% comment %} SCRIPT {% endcomment %}

    <script>
        let costo = document.querySelector("#rangeInput");
        let comision = document.querySelector("#rangeInput2");
        let outcostocomision = document.querySelector("#costocomision");
        let outahorro = document.querySelector("#ahorro");
              
        costo.addEventListener("change",e=>{
            let costocomision_val = (costo.value * comision.value) / 100;
            console.log(costocomision_val)
            console.log(`Change : ${e.target.value}`)
            outcostocomision.innerHTML = costocomision_val + ' USD';
            cambiarFrase()
        })     
            
        comision.addEventListener("change",e=>{
            let costocomision_val = (costo.value * comision.value) / 100;
            console.log(costocomision_val)
            console.log(`Change : ${e.target.value}`)
            outcostocomision.innerHTML = costocomision_val + ' USD';
            cambiarFrase()
        })
              
        function cambiarFrase() {
            let costocomision_val = (costo.value * comision.value) / 100;
            let ahorro = costocomision_val-2000;

            if (ahorro < 500) {
                outahorro.innerHTML = 'Unas medialunas en Atalaya';
            } else if (500 < ahorro < 700) {
                outahorro.innerHTML = 'Una bici con rueditas';
            } else if (700 < ahorro < 2000) {
                outahorro.innerHTML = 'Un autito';
            } else {
                outahorro.innerHTML = 'Un viaje a las toninas';
            }
        }
    </script>

{% comment %} SCRIPT {% endcomment %}


{% endblock content %}