{% extends 'base.html' %}
{% load static %}

{% block title %}ideal{% endblock title %}

{% block content %}

<main>
{% comment %} PROPUESTA {% endcomment %}

  <section id="section-principal" class="v100 row v-center">
    <div class="col-7 col-s pt-2">
      <div class="logo mb-2">
        <img src=" {% static 'img/ideal/logo.svg' %} " alt="IDEAL">
      </div>
      <h1>Descubrí la nueva<br>forma de vender<br>tu casa.</h1>
      <div class="inline mt-1">
        <p class="typewriter mb-3 mr-1">Sin </p>
        <p class="typed-text mb-3"> </p><p class="typewriter"> </p><span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
      </div>
      <p class="mb-2"><a href="{% url 'venta' %}" class="btn-1-r">Quiero saber más</a></p>
    </div>
    <img id="img-principal" class="col-5 col-s img-center" src="{% static 'img/ideal/principales/home.png' %}" alt="IMAGEN">
  </section>

{% comment %} PROPUESTA {% endcomment %}


{% include 'comofunciona.html' %}

{% include 'calculadora.html' %}


{% comment %} ¿ POR QUÉ IDEAL ? {% endcomment %}

  <section class="mb-3 mt-3">
    <h2 class="h-center mb-2">¿Por qué IDEAL?</h2>
    <div class="row v-start mb-2">
      <div class="col-4 col-6-m col-s p-1 v-a-start">
        <img class="img-center mb-1 v-a-start icono" src=" {% static 'img/ideal/iconos/ahorro.svg' %} " alt="">
        <h3 class="h-center bold mb-1 v-a-start">AHORRO</h3>
        <p class="h-center text">Nuestro servicio con un valor fijo te permite maximizar la ganancia que obtienes al vender tu casa. <br>¡Chequea nuestra calculadora de ahorro y comprobalo!</p>
      </div>
      <div class="col-4 col-6-m col-s p-1 v-a-start">
        <img class="img-center mb-1 v-a-start icono" src=" {% static 'img/ideal/iconos/transparencia.svg' %} " alt="">
        <h3 class="h-center bold mb-1 v-a-start">TRANSPARENCIA</h3>
        <p class="h-center text">Cobramos en función del servicio prestado y no según el valor de tu propiedad.<br>El valor de nuestros planes figura en nuestro sitio, en la sección de vender.<br>¡Olvidate de la letra chica!</p>
      </div>
      <div class="col-4 col-6-m col-s p-1 v-a-start">
        <img class="img-center mb-1 v-a-start icono" src=" {% static 'img/ideal/iconos/particulares.svg' %} " alt="">
        <h3 class="h-center bold mb-1 v-a-start">ENTRE PARTICULARES</h3>
        <p class="h-center text">Te damos las herramientas para que seas VOS quien vende tu propiedad.<br>¡Ahorrá dinero y elegí utilizarlo como vos quieras!</p>
      </div>
    
    {% comment %} <div class="row v-start mb-2"> {% endcomment %}
      <div class="col-4 col-6-m col-s p-1 v-a-start">
        <img class="img-center mb-1 v-a-start icono" src=" {% static 'img/ideal/iconos/alcance.svg' %} " alt="">
        <h3 class="h-center bold mb-1 v-a-start">ALCANCE</h3>
        <p class="h-center text">Llegamos a millones de potenciales compradores anunciando tu propiedad en los principales portales.<br>Potenciamos tu anuncio mediante nuestro plan personalizado de marketing.</p>
      </div>
      <div class="col-4 col-6-m col-s p-1 v-a-start">
        <img class="img-center mb-1 v-a-start icono" src=" {% static 'img/ideal/iconos/servicio.svg' %} " alt="">
        <h3 class="h-center bold mb-1 v-a-start">SERVICIO</h3>
        <p class="h-center text">Nos diferenciamos por el valor que agregamos a tu propiedad.<br>¡Cuenta con fotos de calidad, video, tour 360º, plano y un anuncio perfecto potenciado por nuestro plan de marketing!</p>
      </div>
      <div class="col-4 col-6-m col-s p-1 v-a-start">
        <img class="img-center mb-1 v-a-start icono" src=" {% static 'img/ideal/iconos/flexibilidad.svg' %} " alt="">
        <h3 class="h-center bold mb-1 v-a-start">FLEXIBILIDAD</h3>
        <p class="h-center text">Elegí cuánto querés involucrarte en el proceso de ventas y maximizá tu ganancia.<br>¡Vos sos el protagonista!</p>
      </div>
    {% comment %} </div> {% endcomment %}
    </div>
    <p class="mt-3 mb-3 h-center"><a href="{% url 'contacto' %}" class="btn-1-r">¡Informate gratis!</a></p>
  </section>

{% comment %} ¿ POR QUÉ IDEAL ? {% endcomment %}


{% include 'portales.html' %}


{% include 'testimonios.html' %}


  <section class="mb-3 frase">
    <h2 class="h-center mb-3">¿Qué esperás?<br>Vende tu inmueble idealmente.</h2>
    <p class="h-center"><a href=" {% url 'venta' %} " class="btn-1-r mt-3">¡Quiero que me contacten!</a></p>
  </section>



</main>

{% comment %} SCRIPT {% endcomment %}

<script>


  // PALABRAS

  const typedTextSpan = document.querySelector(".typed-text");
  const cursorSpan = document.querySelector(".cursor");

  const textArray = ["intermediarios", "comisiones", "trucos"];
  const typingDelay = 100;
  const erasingDelay = 100;
  const newTextDelay = 1000; // Delay between current and next text
  let textArrayIndex = 0;
  let charIndex = 0;

  function type() {
    if (charIndex < textArray[textArrayIndex].length) {
      if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
      typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
      charIndex++;
      setTimeout(type, typingDelay);
    } 
    else {
      cursorSpan.classList.remove("typing");
      setTimeout(erase, newTextDelay);
    }
  }

  function erase() {
    if (charIndex > 0) {
      if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
      typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex-1);
      charIndex--;
      setTimeout(erase, erasingDelay);
    } 
    else {
      cursorSpan.classList.remove("typing");
      textArrayIndex++;
      if(textArrayIndex>=textArray.length) textArrayIndex=0;
      setTimeout(type, typingDelay + 1100);
    }
  }

  document.addEventListener("DOMContentLoaded", function() { // On DOM Load initiate the effect
    if(textArray.length) setTimeout(type, newTextDelay + 250);
  });
                
</script>

{% comment %} SCRIPT {% endcomment %}


{% endblock content %}