{% load static %}

<header class="">
    {% comment %} <a class='logo' href="{% url 'index' %}">
        <img id='logo' src=" {% static 'ideal/icono.svg' %} " alt="IDEAL">
        <img id='logo' src=" {% static 'ideal/ideal.svg' %} " alt="IDEAL">
    </a>
    <nav>

        <ul class="nav__links">
            <li>
                <a class="nav-link" href="{% url 'venta' %}">Vender</a>
            </li>

            <li>
                <a class="nav-link" href="{% url 'portal' %}">Comprar</a>
            </li>
            
            <li>
                <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
            </li>
        </ul>
    </nav>{% endcomment %}
    
    <nav>
        <input type="checkbox" id="nav" class="menu hidden">
        <label for="nav" class="nav-btn">
            <i></i>
            <i></i>
            <i></i>
        </label>
        <div class="logonav v-center">
            <a href="{% url 'index' %}">
                <img id='logo' src=" {% static 'ideal/logo.svg' %} " alt="IDEAL">
                {% comment %} <img id='logo' src=" {% static 'ideal/icono.svg' %} " alt="IDEAL">
                <img id='logo' src=" {% static 'ideal/ideal.svg' %} " alt="IDEAL"> {% endcomment %}
            </a>
        </div>
        <div class="nav-wrapper v-center">
            <ul>
                <li><a href="{% url 'venta' %}">Venta</a></li>
                <li><a href="{% url 'portal' %}">Comprar</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
        </div>
    </nav> 
</header>