{% load static %}


{% comment %} PORTALES {% endcomment %}

  <section class="mb-3 mt-3">
      <h2 class="h-center mt-3">Destacados en portales</h2>
      <div class="row v-center">
        <img class="img-center portales col-2 col-6-s v-center" src=" {% static 'ideal/portales/zonaprop.svg' %} " alt="">
        <img class="img-center portales col-2 col-6-s v-center" src=" {% static 'ideal/portales/ml.svg' %} " alt="">
        <img class="img-center portales col-2 col-6-s v-center" src=" {% static 'ideal/portales/argenprop.svg' %} " alt="">
        <img class="img-center portales col-2 col-6-s v-center" src=" {% static 'ideal/portales/properati.svg' %} " alt="">
        <img class="img-center portales col-2 col-6-s v-center" src=" {% static 'ideal/portales/ri.svg' %} " alt="">
        <img class="img-center portales col-2 col-6-s v-center" src=" {% static 'ideal/portales/soloduenios.svg' %} " alt="">
      </div>
      <p class="text h-center mt-2 mb-3">Llegamos a millones de potenciales compradores anunciando<br>tu propiedad en los principales portales del mercado.</p>
  </section>

{% comment %} PORTALES {% endcomment %}