{% load static %}
{% comment %} TESTIMONIOS {% endcomment %}

<section class="mb-3 mt-3">
    <h2 class="h-center">Ellos vendieron,<br>¡Vos también podés!</h2>
    <div class="card-contacto mt-3 mb-3 row">
        <img class="col-1" src=" {% static 'img/ideal/quote.svg' %} " alt="quote mark">
        <div class="col-11">
            <h4 class="principal"><span id="principal">Graciela vendió en solo 3 semanas</span></h4>
            <p class="text"><span id="testimonio">No se si fueron las fotos, la publicación, el plan de marketing o qué, pero en 3 semanas tenía mi departamento vendido y casi sin esfuerzo!</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 hidden img-center"></div>
        <img id="img1" class="img-center col-1 col-4-s avatar" src=" {% static 'img/ideal/avatares/av1.svg' %} " alt="img1">
        <img id="img2" class="img-center col-1 col-4-s avatar" src=" {% static 'img/ideal/avatares/av2.svg' %} " alt="img2">
        <img id="img3" class="img-center col-1 col-4-s avatar" src=" {% static 'img/ideal/avatares/av3.svg' %} " alt="img3">
        <img id="img4" class="img-center col-1 col-4-s avatar" src=" {% static 'img/ideal/avatares/av4.svg' %} " alt="img4">
        <img id="img5" class="img-center col-1 col-4-s avatar" src=" {% static 'img/ideal/avatares/av5.svg' %} " alt="img5">
        <img id="img6" class="img-center col-1 col-4-s avatar" src=" {% static 'img/ideal/avatares/av6.svg' %} " alt="img6">
        <div class="col-3 hidden"></div>
    </div>
</section>

<script>

    let principal = document.querySelector("#principal");
    let testimonio = document.querySelector("#testimonio");

    let img1 = document.querySelector("#img1");
    let img2 = document.querySelector("#img2");
    let img3 = document.querySelector("#img3");
    let img4 = document.querySelector("#img4");
    let img5 = document.querySelector("#img5");
    let img6 = document.querySelector("#img6");

    img1.addEventListener("click",e=>{
        principal.innerHTML = 'Graciela vendió en solo 3 semanas'
        testimonio.innerHTML = 'No se si fueron las fotos, la publicación, el plan de marketing o qué, pero en 3 semanas tenía mi departamento vendido y casi sin esfuerzo!'
    })  
    
    img2.addEventListener("click",e=>{
        principal.innerHTML = 'Pedro recibió un trato diferencial'
        testimonio.innerHTML = 'Tenía cierto miedo por ser un servicio nuevo. Pero quedé muy satisfecho con el trato y los resultados obtenidos. Facilitaron la venta de mi casa siendo muy transparentes en todo momento y accesibles para aclarar las dudas que tenía.'
    })  
    
    img3.addEventListener("click",e=>{
        principal.innerHTML = 'Marta ahorro miles en comisiones'
        testimonio.innerHTML = 'Me ahorre casi 10.000 dólares en comisiones, con un servicio excelente y muy profesional. La verdad que lo recomiendo 100%'
    })  

    img4.addEventListener("click",e=>{
        principal.innerHTML = 'Graciela vendió en solo 3 semanas'
        testimonio.innerHTML = 'No se si fueron las fotos, la publicación, el plan de marketing o qué, pero en 3 semanas tenía mi departamento vendido y casi sin esfuerzo!'
    })  
    
    img5.addEventListener("click",e=>{
        principal.innerHTML = 'Pedro recibió un trato diferencial'
        testimonio.innerHTML = 'Tenía cierto miedo por ser un servicio nuevo. Pero quedé muy satisfecho con el trato y los resultados obtenidos. Facilitaron la venta de mi casa siendo muy transparentes en todo momento y accesibles para aclarar las dudas que tenía.'
    })  
    
    img6.addEventListener("click",e=>{
        principal.innerHTML = 'Marta ahorro miles en comisiones'
        testimonio.innerHTML = 'Me ahorre casi 10.000 dólares en comisiones, con un servicio excelente y muy profesional. La verdad que lo recomiendo 100%'
    })  
    
  


</script>



{% comment %} TESTIMONIOS {% endcomment %}