{% extends 'base.html' %}
{% load static %}

{% block title %}Planes{% endblock title %}

{% block content %}
<main>

{% comment %} PROPUESTA {% endcomment %}

  <section class="v100 row v-center">
    <div class="col">
      <div class="logo">
        <img src=" {% static 'ideal/icono.svg' %} " alt="IDEAL">
        <img src=" {% static 'ideal/ideal.svg' %} " alt="IDEAL">
      </div>
      <h1>Vender tu propiedad<br>nunca fue tan fácil</h1>
      <p class="">Consultá nuestra oferta.</p>
    </div>
    <div class="col-4 col-s card-precio img-center">
      <h2 class="h-center">{{packs.0.nombre}}</h2>
      <h3 class="h-center"><strong>${{packs.0.precio}}</strong>/mes</h3>
      <p class="h-center">{{packs.0.descripcion}}</p>
      <p class="mt-1 h-center"><a href=" {% url 'venta' %} " class="btn-1-r">Quiero saber más</a></p>
    </div>
    <div class="col-4 col-s card-precio img-center">
      <h2 class="h-center">{{packs.1.nombre}}</h2>
      <h3 class="h-center"><strong>${{packs.1.precio}}</strong>/mes</h3>
      <p class="h-center">{{packs.1.descripcion}}</p>
      <p class="mt-1 h-center"><a href=" {% url 'venta' %} " class="btn-1-r">Quiero saber más</a></p>
    </div>
    <div class="col-4 col-s card-precio img-center">
      <h2 class="h-center">{{packs.2.nombre}}</h2>
      <h3 class="h-center"><strong>${{packs.2.precio}}</strong>/mes</h3>
      <p class="h-center">{{packs.2.descripcion}}</p>
      <p class="mt-1 h-center"><a href=" {% url 'venta' %} " class="btn-1-r">Quiero saber más</a></p>
    </div>
    
  </section>

{% comment %} PROPUESTA {% endcomment %}


{% comment %} TABLA {% endcomment %}

  <section>
    <h2 class="h-center">¿Qué incluyen<br>nuestros planes?</h2>
  </section>


    <table class="row">
      <tbody class="col">
        <tr class="row">
          <th scope="row" class="col-6">Servicios</th>
          <td class="col-2">
            <h2 class="">Básico</h2>
            <p class="">$10 /mes</p>
          </td>
          <td class="col-2">
            <h2 class="">Ideal</h2>
            <p class="">$40 /mes</p>
          </td>
          <td class="col-2">
            <h2 class="">Premium</h2>
            <p class="">$70 /mes</p>
          </td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 impar">Tasación de tu propiedad</th>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 impar"></td>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6">Fotos y Planos</th>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2"></td>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 impar">Tour 360º</th>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 impar"></td>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6">Redacción del anuncio</th>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2"></td>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 impar">Publicación y difusión del anuncio</th>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 impar"></td>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6">Anuncio destacado</th>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2"></td>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 impar">Cartel inmobiliario dinámico</th>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 impar"></td>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6">Filtro de interesados</th>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2"></td>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 impar">Coordinación de visitas</th>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 impar"></td>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6">Ficha técnica del inmueble</th>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2"></td>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 impar">Soporte post-venta</th>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 impar"></td>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6">Experto dedicado a ti</th>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2"></td>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 impar">Reportes semanales contra pedido</th>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 impar"></td>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6">Visitas acompañadas</th>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2"></td>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 impar">Estudio de titulos</th>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 impar"></td>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6">Gestión online de todo el proceso</th>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2"></td>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 impar">Ambientación / alquiler de muebles</th>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 impar"></td>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6"></th>
            <td class="col-2"></td>
            <td class="col-2"></td>
            <td class="col-2"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 impar">POSTVENTA</th>
            <td class="col-2 impar"></td>
            <td class="col-2 impar"></td>
            <td class="col-2 impar"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6">Borradores de cada documento</th>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 impar">Asesoramiento legal</th>
            <td class="col-2 impar"></td>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6"></th>
            <td class="col-2"></td>
            <td class="col-2"></td>
            <td class="col-2"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 impar">Financiación</th>
            <td class="col-2 impar"></td>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 impar"><img src=" {% static 'ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        

    

        
        <tr class="row">
          <th scope="row" class="col-6"> </th>
            <td class="col-2"><p class="mt-3 h-center"><a href=" {% url 'contacto' %} " class="btn-1-r mt-3">¡Contáctenos!</a></p></td>
            <td class="col-2"><p class="mt-3 h-center"><a href=" {% url 'contacto' %} " class="btn-1-r mt-3">¡Contáctenos!</a></p></td>
            <td class="col-2"><p class="mt-3 h-center"><a href=" {% url 'contacto' %} " class="btn-1-r mt-3">¡Contáctenos!</a></p></td>
        </tr>

      </tbody>
    </table>

  

{% comment %} TABLA {% endcomment %}

{% include 'comofunciona.html' %}

{% include 'calculadora.html' %}

{% include 'testimonios.html' %}

  <section class="v40">
    <h2 class="h-center">Vende tu casa online.<br>Es un juego de niños. </h2>
    <p class="mt-3 h-center"><a href=" {% url 'contacto' %} " class="btn-1-r mt-3">¡Contáctenos!</a></p>
  </section>


</main>
{% endblock content %}