{% extends 'base.html' %}
{% load static %}

{% block title %}Vender{% endblock title %}

{% block content %}
<main>

{% comment %} PROPUESTA {% endcomment %}

  <section id="section-venta" class="v60 row v-center">
    <div class="col-7 col-s mt-3">
      <div>
        <img class="logo" src=" {% static 'img/ideal/logo.png' %} " alt="IDEAL">
      </div>
      <h1>Vender tu casa<br>nunca fue tan fácil</h1>
      <p class="">Elegí la opción que mejor se adapta a tus necesidades.</p>
    </div>
    <img id="img-principal" class="col-5" src=" {% static 'img/ideal/amebas/ameba-contacto.png' %} " alt="">
  </section>

  <section class="mb-3">
    <div class="row mt-3">
      <div class="col-4 col-s card-precio img-center">
        <h2 class="h-center mt-2">{{packs.0.nombre}}</h2>
        <h2 class="h-center mb-2">U$D <strong>{{packs.0.precio}}</strong></h2>
        <p class="mt-1 mb-2 h-center"><a href=" {% url 'contacto2' packs.0.pk %} " class="btn-1-r">Consultar Básico</a></p>
      </div>
      <div class="col-4 col-s card-precio img-center">
        <h2 class="h-center mt-2">{{packs.1.nombre}}</h2>
        <h2 class="h-center mb-2">U$D <strong>{{packs.1.precio}}</strong></h2>
        <p class="mt-1 mb-2 h-center"><a href=" {% url 'contacto2' packs.1.pk %} " class="btn-1-r">Consultar Ideal</a></p>
      </div>
      <div class="col-4 col-s card-precio img-center">
        <h2 class="h-center mt-2">{{packs.2.nombre}}</h2>
        <h2 class="h-center mb-2">U$D <strong>{{packs.2.precio}}</strong></h2>
        <p class="mt-1 mb-2 h-center"><a href=" {% url 'contacto2' packs.2.pk %} " class="btn-1-r">Consultar Premium</a></p>
      </div>
    </div>
    
  </section>

{% comment %} PROPUESTA {% endcomment %}


{% comment %} TABLA {% endcomment %}

  <section class="mt-3">
    <h2 class="h-center mb-3 mt-3">¿Qué incluyen<br>nuestros planes?</h2>
  </section>


    {% comment %} <table class="row mb-3">
      <tbody class="col col-s">
        <tr class="row">
          <th scope="row" class="col-6 col-s mb-2 pl-1"><h2 class="titulo-tabla">Servicios</h2></th>
          <td class="col-2 col-4-s mb-2">
            <h2 class="tabla-titulo">Básico</h2>
          </td>
          <td class="col-2 col-4-s mb-2">
            <h2 class="tabla-titulo">Ideal</h2>
          </td>
          <td class="col-2 col-4-s mb-2">
            <h2 class="tabla-titulo">Premium</h2>
          </td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s impar pl-1">Tasación de tu propiedad</th>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s impar"></td>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s pl-1">Fotos y Planos</th>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s"></td>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s impar pl-1">Tour 360º</th>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s impar"></td>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s pl-1">Redacción del anuncio</th>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s"></td>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s impar pl-1">Publicación y difusión del anuncio</th>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s impar"></td>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s pl-1">Anuncio destacado</th>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s"></td>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s impar pl-1">Cartel inmobiliario dinámico</th>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s impar"></td>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s pl-1">Filtro de interesados</th>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s"></td>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s impar pl-1">Coordinación de visitas</th>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s impar"></td>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s pl-1">Ficha técnica del inmueble</th>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s"></td>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s impar pl-1">Soporte post-venta</th>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s impar"></td>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s pl-1">Experto dedicado a ti</th>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s"></td>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s impar pl-1">Reportes semanales contra pedido</th>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s impar"></td>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s pl-1">Visitas acompañadas</th>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s"></td>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s impar pl-1">Estudio de titulos</th>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s impar"></td>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s pl-1">Gestión online de todo el proceso</th>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s"></td>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s impar pl-1">Ambientación / alquiler de muebles</th>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s impar"></td>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s pl-1"></th>
            <td class="col-2 col-4-s"></td>
            <td class="col-2 col-4-s"></td>
            <td class="col-2 col-4-s"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s impar pl-1">POSTVENTA</th>
            <td class="col-2 col-4-s impar"></td>
            <td class="col-2 col-4-s impar"></td>
            <td class="col-2 col-4-s impar"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s pl-1">Borradores de cada documento</th>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s impar pl-1">Asesoramiento legal</th>
            <td class="col-2 col-4-s impar"></td>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s pl-1"></th>
            <td class="col-2 col-4-s"></td>
            <td class="col-2 col-4-s"></td>
            <td class="col-2 col-4-s"></td>
        </tr>

        <tr class="row">
          <th scope="row" class="col-6 col-s impar pl-1">Financiación</th>
            <td class="col-2 col-4-s impar"></td>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
            <td class="col-2 col-4-s impar"><img src=" {% static 'img/ideal/iconos/check.svg' %} " alt="IDEAL"></td>
        </tr>

      
        
        <tr class="row mb-2">
          <th scope="row" class="col-6 col-s"> </th>
            <td class="col-2 col-4-s"><p class="pt-1 h-center"><a href=" {% url 'contacto' %} " class="btn-1-r">+ info</a></p></td>
            <td class="col-2 col-4-s"><p class="pt-1 h-center"><a href=" {% url 'contacto' %} " class="btn-1-r">+ info</a></p></td>
            <td class="col-2 col-4-s"><p class="pt-1 h-center"><a href=" {% url 'contacto' %} " class="btn-1-r">+ info</a></p></td>
        </tr>

      </tbody>
    </table> {% endcomment %}

    <div id="card-tabla" class="card-tabla mb-3">

      <div class="row">
        <h2 class="col-6 col-s pl-1">Servicios</h2>
        <h2 class="col-2 col-4-s planes h-center">{{packs.0.nombre}}</h2>
        <h2 class="col-2 col-4-s planes h-center">{{packs.1.nombre}}</h2>
        <h2 class="col-2 col-4-s planes h-center">{{packs.2.nombre}}</h2>
      </div>

      <div class="row">
        <p class="col-6 col-s impar pl-1">Tasación de tu propiedad</p>
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>

      <div class="row">
        <p class="col-6 col-s pl-1 ">Fotos y plano</p>
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>
      
      <div class="row">
        <p class="col-6 col-s impar pl-1">Video</p>
        <div class="col-2 col-4-s impar"></div>
        <!-- <img class="col-2 col-4-s img-center impar" src="" alt=""> -->
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>

      <div class="row">
        <p class="col-6 col-s pl-1">Tour 360º</p>
        <div class="col-2 col-4-s"></div>
        <!-- <img class="col-2 col-4-s img-center" src="" alt=""> -->
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>
      
      <div class="row">
        <p class="col-6 col-s impar pl-1">Redacción del anuncio</p>
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>

      <div class="row">
        <p class="col-6 col-s pl-1">Publicación y difusión del anuncio</p>
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>
      
      <div class="row">
        <p class="col-6 col-s impar pl-1">Anuncio destacado</p>
        <div class="col-2 col-4-s impar"></div>
        <div class="col-2 col-4-s impar"></div>
        <!-- <img class="col-2 col-4-s img-center impar" src="" alt="">
        <img class="col-2 col-4-s img-center impar" src="" alt=""> -->
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>

      <div class="row">
        <p class="col-6 col-s pl-1">Cartel inmobiliario dinámico</p>
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>
      
      <div class="row">
        <p class="col-6 col-s impar pl-1">Filtro de interesados</p>
        <!-- <img class="col-2 col-4-s img-center impar" src="" alt=""> -->
        <div class="col-2 col-4-s impar"></div>
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>

      <div class="row">
        <p class="col-6 col-s pl-1">Coordinación de visitas</p>
        <!-- <img class="col-2 col-4-s img-center" src="" alt=""> -->
        <div class="col-2 col-4-s"></div>
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>
      
      <div class="row">
        <p class="col-6 col-s impar pl-1">Ficha técnica del inmueble</p>
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>

      <div class="row">
        <p class="col-6 col-s pl-1">Soporte post venta</p>
        <div class="col-2 col-4-s"></div>
        <div class="col-2 col-4-s"></div>
        <!-- <img class="col-2 col-4-s img-center" src="" alt="">
        <img class="col-2 col-4-s img-center" src="" alt=""> -->
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>
      
      <div class="row">
        <p class="col-6 col-s impar pl-1">Experto dedicado para ti</p>
        <div class="col-2 col-4-s impar"></div>
        <div class="col-2 col-4-s impar"></div>
        <!-- <img class="col-2 col-4-s img-center impar" src="" alt="">
        <img class="col-2 col-4-s img-center impar" src="" alt=""> -->
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>

      <div class="row">
        <p class="col-6 col-s pl-1">Reportes semanales contra pedido</p>
        <div class="col-2 col-4-s"></div>
        <div class="col-2 col-4-s"></div>
        <!-- <img class="col-2 col-4-s img-center" src="" alt="">
        <img class="col-2 col-4-s img-center" src="" alt=""> -->
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>
      
      <div class="row">
        <p class="col-6 col-s impar pl-1">Visitas acompañadas</p>
        <div class="col-2 col-4-s impar"></div>
        <div class="col-2 col-4-s impar"></div>
        <!-- <img class="col-2 col-4-s img-center impar" src="" alt="">
        <img class="col-2 col-4-s img-center impar" src="" alt=""> -->
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>

      <div class="row">
        <p class="col-6 col-s pl-1">Estudio de títulos</p>
        <div class="col-2 col-4-s"></div>
        <div class="col-2 col-4-s"></div>
        <!-- <img class="col-2 col-4-s img-center" src="" alt="">
        <img class="col-2 col-4-s img-center" src="" alt=""> -->
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>
      
      <div class="row">
        <p class="col-6 col-s impar pl-1">Gestión online de todo el proceso</p>
        <div class="col-2 col-4-s impar"></div>
        <div class="col-2 col-4-s impar"></div>
        <div class="col-2 col-4-s impar"></div>
        <!-- <img class="col-2 col-4-s img-center impar" src="" alt="">
        <img class="col-2 col-4-s img-center impar" src="" alt="">
        <img class="col-2 col-4-s img-center impar" src="" alt=""> -->
      </div>

      <div class="row">
        <p class="col-6 col-s pl-1">Ambientación / alquiler muebles</p>
        <div class="col-2 col-4-s"></div>
        <div class="col-2 col-4-s"></div>
        <!-- <img class="col-2 col-4-s img-center" src="" alt="">
        <img class="col-2 col-4-s img-center" src="" alt=""> -->
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/asterizco.svg' %} " alt="">
      </div>
      
      <div class="row">
        <p class="col-6 col-s impar pl-1"></p>
        <div class="col-2 col-4-s impar"></div>
        <div class="col-2 col-4-s impar"></div>
        <div class="col-2 col-4-s impar"></div>
        <!-- <img class="col-2 col-4-s img-center impar" src="" alt="">
        <img class="col-2 col-4-s img-center impar" src="" alt="">
        <img class="col-2 col-4-s img-center impar" src="" alt=""> -->
      </div>

      <div class="row">
        <p class="col-6 col-s pl-1">POSTVENTA</p>
        <div class="col-2 col-4-s"></div>
        <div class="col-2 col-4-s"></div>
        <div class="col-2 col-4-s"></div>
        <!-- <img class="col-2 col-4-s img-center" src="" alt="">
        <img class="col-2 col-4-s img-center" src="" alt="">
        <img class="col-2 col-4-s img-center" src="" alt=""> -->
      </div>
      
      <div class="row">
        <p class="col-6 col-s impar pl-1">Borradores de cada documento</p>
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center impar" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>

      <div class="row">
        <p class="col-6 col-s pl-1">Asesoramiento legal</p>
        <div class="col-2 col-4-s"></div>
        <!-- <img class="col-2 col-4-s img-center" src="" alt=""> -->
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>
      
      <div class="row">
        <p class="col-6 col-s impar pl-1"></p>
        <div class="col-2 col-4-s impar"></div>
        <div class="col-2 col-4-s impar"></div>
        <div class="col-2 col-4-s impar"></div>
        <!-- <img class="col-2 col-4-s img-center impar" src="" alt="">
        <img class="col-2 col-4-s img-center impar" src="" alt="">
        <img class="col-2 col-4-s img-center impar" src="" alt=""> -->
      </div>

      <div class="row">
        <p class="col-6 col-s pl-1">FINANCIACIÓN</p>
        <div class="col-2 col-4-s"></div>
        <!-- <img class="col-2 col-4-s img-center" src="" alt=""> -->
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
        <img class="col-2 col-4-s img-center" src=" {% static 'img/ideal/iconos/check.svg' %} " alt="">
      </div>

      <div class="row mt-2 pb-2">
        <p class="col-6 col-s pl-1">*consultar precio y disponibilidad</p>
        <p class="col-2 col-4-s h-center"><a href=" {% url 'contacto2' packs.0.pk %} " class="btn-1-r">Básico</a></p>
        <p class="col-2 col-4-s h-center"><a href=" {% url 'contacto2' packs.1.pk %} " class="btn-1-r">Ideal</a></p>
        <p class="col-2 col-4-s h-center"><a href=" {% url 'contacto2' packs.2.pk %} " class="btn-1-r">Premium</a></p>
      </div>

    </div>
  

{% comment %} TABLA {% endcomment %}

{% include 'faqs.html' %}

{% include 'comofunciona.html' %}

{% include 'calculadora2.html' %}

{% include 'portales.html' %}

{% include 'testimonios.html' %}

  <section class="mt-3 mb-3 frase">
    <h2 class="h-center mb-2">Vende tu casa online.<br>Es un juego de niños. </h2>
    <p class="mt-2 h-center"><a href=" {% url 'contacto' %} " class="btn-1-r mt-3">¡Contáctenos!</a></p>
  </section>


</main>


{% endblock content %}