@import "variables";

.container p span.typed-text {
    font-weight: normal;
    color: #dd7732;
  }

.container p span.cursor {
    display: inline-block;
    background-color: $c-1;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }

.container p span.cursor.typing {
    animation: none;
  }

@keyframes blink {
  0%  { background-color: $c-1; }
  49% { background-color: $c-1; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: $c-1; }
  }