{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Contacto{% endblock title %}

{% block content %}

<main>

    {% comment %} PROPUESTA {% endcomment %}

    <section class="v100 row v-center">
        <div class="col-8">
            <div class="logo">
            <img src=" {% static 'myapp/ideal/icono.svg' %} " alt="IDEAL">
            <img src=" {% static 'myapp/ideal/ideal.svg' %} " alt="IDEAL">
            </div>
            <h1>Contactanos</h1>
            <p class="text mb-2">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
            <p class="mt-2"><a href=" {% url 'venta' %} " class="">+ 54 11 44726070</a></p>
            <p class="mt-2"><a href=" {% url 'venta' %} " class="">info@ideal.com</a></p>
        </div>
        <form class="col-4 card-contacto" method="POST">
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </div>
        </form>
      
    </section>
    
    {% comment %} PROPUESTA {% endcomment %}
    
    {% include 'myapp/nuevarev.html' %}  

    <section>
        <h2 class="h-center mb-3">Preguntas frecuentes</h2>
        
        <div class="preg-frec">
        {% for faq in faqs %}
            <div class="row pregunta">
                <h4 class="col-11 preg-text">{{ faq.pregunta }}</h4>
                <img  class="col-1" src=" {% static 'myapp/ideal/iconos/flecha.svg' %} " alt="ICON">
            </div>
            <p class="respuesta">{{ faq.respuesta }}</p>
        {% endfor %}
        </div>

        <br>
        <br>
    </section>




    




</main>
{% endblock content %}