@import "variables";

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(211, 211, 211);

    .logo {
        padding-left: 10%;
    }

    nav {
        padding-right: 10%;
    }

}


.nav__links {
    list-style: none;
    
    li {
        display: inline-block;
        padding: 0px 20px;
    }
}