
// COLORES
$c-0 : #65DBBA;
$c-1 : rgb(54, 206, 185);
$c-2 : rgb(78, 184, 178);
$c-3 : rgb(160, 65, 155);

$c-b : black;
$c-w : white;

// TIPOGRAFIAS
$t-1 : 'Roboto', sans-serif;
$t-2 : 'Lato', sans-serif;
$t-3 : 'Poppins', sans-serif;
$t-4 : 'Copse', serif;
$t-5 : 'Raleway', sans-serif;

