{% load static %}

{% comment %} ¿ COMO FUNCIONA ? {% endcomment %}

  <section class="v60">
    <h2 class="h-center mb-3">¿Cómo funciona?</h2>
    <div class="row">
      <div class="col-4 col-s">
        <img class="img-center mb-1" src=" {% static 'myapp/ideal/ameba.svg' %} " alt="">
        <h4 class="h-center mb-1">PASO 1</h4>
        <p class="h-center text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque nihil doloribus iste vel, ex vero explicabo neque natus earum sint expedita quis voluptas, harum possimus omnis fugiat excepturi maxime pariatur.</p>
      </div>
      <div class="col-4 col-s">
        <img class="img-center mb-1" src=" {% static 'myapp/ideal/ameba.svg' %} " alt="">
        <h4 class="h-center mb-1">PASO 2</h4>
        <p class="h-center text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque nihil doloribus iste vel, ex vero explicabo neque natus earum sint expedita quis voluptas, harum possimus omnis fugiat excepturi maxime pariatur.</p>
      </div>
      <div class="col-4 col-s">
        <img class="img-center mb-1" src=" {% static 'myapp/ideal/ameba.svg' %} " alt="">
        <h4 class="h-center mb-1">PASO 3</h4>
        <p class="h-center text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque nihil doloribus iste vel, ex vero explicabo neque natus earum sint expedita quis voluptas, harum possimus omnis fugiat excepturi maxime pariatur.</p>
      </div>
    </div>
  </section>

{% comment %} ¿ COMO FUNCIONA ? {% endcomment %}