{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}

<main>
    <section class="">
        <div class="row pt-2">
            <div class="col-4">
                <div class="logo">
                  <img src=" {% static 'myapp/ideal/icono.svg' %} " alt="IDEAL">
                  <img src=" {% static 'myapp/ideal/ideal.svg' %} " alt="IDEAL">
                </div>
            </div>    
            <div class="col-8">
                <!-- FILTROS -->
            </div>
        </div>
        <div class="row v100">
            <h2 class="col bb">Publicaciones destacadas</h2>
            {% for destacado in destacados %} 
            <a class="col-4 card-clasificado" href=" {% url 'portal_detail' destacado.pk %} ">
                    <img src=" {% static 'myapp/media/{{ destacado.imagen_principal.url }}' %} " alt="Foto Principal">
                    
                    <h4>{{ destacado.tipologia }} {{ destacado.m2_totales }}</h4>
                    <p class="text bb">{{ destacado.barrio }}</p>
                    
                    <div class="row">
                        <div class="col-4 h-center">
                            <img src="" alt="">
                            <p>{{ destacado.ambientes }}</p>
                        </div>
                        <div class="col-4 bl br h-center">
                            <img src="" alt="">
                            <p>{{ destacado.banios }}</p>
                        </div>
                        <div class="col-4 h-center">
                            <img src="" alt="">
                            <p>{{ destacado.cocheras }}</p>
                        </div>
                    </div>
            </a>     
            {% endfor %}
        </div>

    </section>

    <section class="row">
        <h2 class="col bb">Propiedades en venta</h2>
        {% for clasificado in clasificados %} 
                <a class="col-4 card-clasificado" href=" {% url 'portal_detail' clasificado.pk %} ">
                    <img src="{{ clasificado.imagen_principal.url }}" alt="Foto Principal">
                    
                    <h4>{{ clasificado.tipologia }} {{ clasificado.m2_totales }}</h4>
                    <p class="text bb">{{ clasificado.barrio }}</p>
                    
                    <div class="row">
                        <div class="col-4 h-center">
                            <img src="" alt="">
                            <p>{{ clasificado.ambientes }}</p>
                        </div>
                        <div class="col-4 bl br h-center">
                            <img src="" alt="">
                            <p>{{ clasificado.banios }}</p>
                        </div>
                        <div class="col-4 h-center">
                            <img src="" alt="">
                            <p>{{ clasificado.cocheras }}</p>
                        </div>
                    </div>
                </a>    
            {% endfor %}
    </section>

</main>
{% endblock content %}