
body {
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: block;
}

.oculto {
    display: none;
}


#portales {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

#testimonios {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.frase {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

// ------------------------- ALTURAS ---------------------------

.v100 {
    height: 100vh;
}

.v90 {
    height: 90vh;
}

.v80 {
    height: 80vh;
}

.v70 {
    height: 70vh;
}

.v60 {
    height: 60vh;
}

.v50 {
    height: 50vh;
}

.v40 {
    height: 40vh;
}

.v30 {
    height: 30vh;
}

// ------------------------- COLUMNAS ---------------------------

.col {
    grid-column: span 12;
}

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}
.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}


// ------------------------- ROW ----------------------------- 

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

// ------------------ ALINEACIONES VERTICALES ----------------------

.v-center {
    align-items: center;
}

.v-s-center {
    align-self: center;
}

.v-start {
    align-items: start;
}

.v-a-start {
    align-self: start;
}

.v-a-stretch {
    align-self: stretch;
}


.v-s-end {
    align-self: flex-end;
}

// ------------------ ALINEACIONES HORIZONTALES -----------------------

.h-center {
    text-align: center;
}

.h-end {
    justify-items: end;
    text-align: end;
}

.h-s-end {
    justify-self: end;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* --------------------- MEDIA QUERIES -------------------------- */
@media screen and (max-width: 1920px) {
    .container {
        width: 100vw;
    }
    main {
        padding-left: 10%;
        padding-right: 10%;
        
    }
    
}

@media screen and (max-width: 1285px) {
    // .container {
    //     width: 100vw;
    // }
    main {
        padding-left: 10%;
        padding-right: 10%;
        
    }

    h1{
        font-size: 3rem;
    }
    
    h2{
        font-size: 3rem;
    }

    .col-s {
        grid-column: span 12 !important;
    }
    
    .col-6-s {
        grid-column: span 6 !important; 
    }

    .col-4-s {
        grid-column: span 4 !important; 
    }

    .col-3-s {
        grid-column: span 3 !important; 
    }

    .section-principal {
        
        #img-principal {
            position: absolute;
            opacity: 0.6;
        }
    }

    
    
}

@media screen and (max-width: 900px) {
    // .container {
    //     width: 100vw;
    // }

    .col-s {
        grid-column: span 12 !important;
    }
    
    .col-6-s {
        grid-column: span 6 !important; 
    }

    .col-4-s {
        grid-column: span 4 !important; 
    }

    .col-3-s {
        grid-column: span 3 !important; 
    }

    .section-principal {
        
        #img-principal {
            position: absolute;
            opacity: 0.6;
        }
    }

    .btn-1-r{
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    

}


@media screen and (max-width: 450px) {
    // .container {
    //     width: 100vw;
    // }

    main {
        width: 100vw;
        padding-left: 5%;
        padding-right: 5%;
    }

    .col-s {
        grid-column: span 12 !important;
    }
    
    .col-6-s {
        grid-column: span 6 !important; 
    }

    .col-4-s {
        grid-column: span 4 !important; 
    }

    .col-3-s {
        grid-column: span 3 !important; 
    }

    h1{
        font-size: 2rem;
        line-height: 40px;
    }
    
    h2{
        font-size: 2rem;
    }

    .avatar {
        width: 30px;
    }

    .btn-1-r{
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    #section-principal {

        padding-top: 10%;

        div {
            z-index: 5;
            background: transparent;
            img {
                background: transparent;
            }
            h1 {
                background: transparent;
            }
            p {
                background: transparent;
            }
            span {
                background: transparent;
            }
        }

        #img-principal {
            position: absolute;
            top: 20%;
            left: 30%;
            opacity: 0.4;
            object-fit: cover;
            object-position: -30% 0;

            width: 70%;
            height: 337px;
            // z-index: -1;
        }
    }
    
    #section-venta {

        padding-top: 40%;

        div {
            z-index: 5;
            background: transparent;
            img {
                background: transparent;
            }
            h1 {
                background: transparent;
            }
            p {
                background: transparent;
            }
            span {
                background: transparent;
            }
        }

        #img-principal {
            position: absolute;
            top: 20%;
            left: 30%;
            opacity: 0.4;
            object-fit: cover;
            object-position: -30% 0;

            width: 70%;
            height: 337px;
            // z-index: -1;
        }

        .card-precio {
            width: 100%;
        }
    }

    .v90, .v80, .v70, .v60, .v50, .v40 {
        height: auto;
    }

    .card-testimonio {
        justify-self: center;
        background-color: $c-w;
        // width: 100%;
        
        // width: auto;
        // height: auto;
        // padding: 3rem 1.5rem;
        box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.15);
        border-radius: 16px;
    }

    #calculadora {
        h2 {
            font-size: 2rem;
        }

        #valor { 
            z-index: 1;
            background: transparent;
            h4, h2, p, span {
            background: transparent;
            }
        }
        
        #img-calc {
            position: absolute;
            // top: 20%;
            top: 2600px;
            left: 20%;
            
            opacity: 0.3;
            object-fit: cover;
            object-position: -20% 0;
            
    
            width: 80%;
            height: 250px;
        }
    }


    .card-tabla {
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }

    .tabla-titulo {
        font-size: 1.2rem;
        margin-top: 1rem;
        font-weight: bolder;
        text-align: center;
    }

    .titulo-tabla {
        text-align: center;
        margin-top: 2rem;
    }

    .hidden {
        display: none;
    }
}