{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Clasificado{% endblock title %}


{% block content %}

{% include 'myapp/filtros.html' %}

    <div id="imprimir">
        {% if clasificado.vendedor.estado == 'Vendedor' or clasificado.vendedor.estado == 'Ambas' %}
            <p>Vendedor: {{ clasificado.vendedor.nombre }} {{ clasificado.vendedor.apellido }}</p>
            <p>{{ clasificado.vendedor.email }}</p>
            <a href="https://api.whatsapp.com/send?phone={{clasificado.vendedor.tel}}&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20{{clasificado.tipologia}}%20ubicado%20en%20{{ubicacion.direccion}}%202." target="_blank"><i class="fa fa-whatsapp my-float whatsicon"></i></a>
        {% endif %}
        
        <h2>Descripcion: {{clasificado.descripcion}}</h2>
        <p>Nombre: {{clasificado.nombre}}</p>
        <p>Expensas: {{precio.expensas}}</p>
        <img src="{{infogen.imagen_principal.url}}" alt="">
        <p>m2 totales: {{infogen.m2_totales}}</p>
        <p>m2 cubiertos: {{infogen.m2_cubiertos}}</p>
        <p>Piso: {{infogen.piso}}</p>
        <p>Departamento: {{infogen.depto}}</p>
        <p>Ambientes: {{infogen.ambientes}}</p>
        <p>Dormitorios: {{infogen.dormitorios}}</p>
        <p>Baños: {{infogen.banios}}</p>
        <p>Orientacion: {{infogen.orientacion}}</p>
        <p>Antiguedad: {{infogen.antiguedad}}</p>

        {% if infogen.cochera == True %}
            <p>Cocheras: {{infogen.cocheras}}</p>
        {% endif %}

        {% if amenitie.pileta == True %}
            <!-- <img src="" alt=""> -->
            <p>Pileta</p>
        {% endif %}

        {% if amenitie.gimnasio == True %}
            <!-- <img src="" alt=""> -->
            <p>Gimnasio</p>
        {% endif %}

        {% if amenitie.juegos == True %}
            <!-- <img src="" alt=""> -->
            <p>Salon de Juegos</p>
        {% endif %}

        {% if amenitie.solarium == True %}
            <!-- <img src="" alt=""> -->
            <p>Solarium</p>
        {% endif %}

        {% if amenitie.microcine == True %}
            <!-- <img src="" alt=""> -->
            <p>Microcine</p>
        {% endif %}

        {% if amenitie.parrilla == True %}
            <!-- <img src="" alt=""> -->
            <p>Parrilla</p>
        {% endif %}

        {% if amenitie.salon_usos_multiples == True %}
            <!-- <img src="" alt=""> -->
            <p>SUM</p>
        {% endif %}
        
        {% if caracteristica.alarma == True %}
            <!-- <img src="" alt=""> -->
            <p>Alarma</p>
        {% endif %}
        
        {% if caracteristica.mascotas == True %}
            <!-- <img src="" alt=""> -->
            <p>Mascotas</p>
        {% endif %}
        
        {% if caracteristica.aire_acondicionado == True %}
            <!-- <img src="" alt=""> -->
            <p>Aire Acondicionado</p>
        {% endif %}
        
        {% if caracteristica.losa_radiante == True %}
            <!-- <img src="" alt=""> -->
            <p>Losa Radiante</p>
        {% endif %}
        
        {% if caracteristica.gas == True %}
            <!-- <img src="" alt=""> -->
            <p>Gas</p>
        {% endif %}
        
        {% if caracteristica.internet == True %}
            <!-- <img src="" alt=""> -->
            <p>Internet</p>
        {% endif %}
        
        {% if caracteristica.cable == True %}
            <!-- <img src="" alt=""> -->
            <p>Cable</p>
        {% endif %}






    </div>
<button class="btn btn-primary" id="download"> download pdf</button>

<script>

    // Descargar publicacion como PDF

          window.onload = function () {
          document.getElementById("download")
          .addEventListener("click", () => {
              const invoice = this.document.getElementById("imprimir");
              var opt = {
                  margin: 0,
                  filename: 'ideal.pdf',
                  image: { type: 'jpeg', quality: 1 },
                  html2canvas: { scale: 1 },
                  jsPDF: { unit: 'mm', format: 'A3', orientation: 'portrait' }
              };
              html2pdf().from(invoice).set(opt).save();
          })
      }

</script>

{% endblock content %}
