{% comment %} FAQS {% endcomment %}
    
    <section class="fdb-block">
        <div class="container vertical100">
            <div class="row align-items-center justify-content-center">
                {% for faq in faqs %}
                    <div class="col-12 col-md-10 col-lg-8">
                        <p class="lead">{{faq.pregunta}}</p>
                        <p class="lead"><strong>{{faq.respuesta}}</strong></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% comment %} FAQS {% endcomment %}