{% comment %} TESTIMONIOS {% endcomment %}
    
    <section class="fdb-block">
        <div class="container vertical100">
          <div class="row align-items-center justify-content-center">
            {% for testimonio in testimonios %}
                <div class="col-12 col-md-10 col-lg-8">
                <p class="lead">
                    {{testimonio.testimonio}}
                </p>
        
                <p class="lead"><strong>{{testimonio.cliente}}</strong> <em class="ml-4">{{testimonio.empresa}}</em></p>
                </div>
                <div class="col-8 col-sm-6 col-md-2 col-lg-3 col-xl-2 mt-4 mt-md-0 ml-auto mr-auto mr-md-0">
                <img alt="image" class="img-fluid rounded-circle" src="{{ testimonio.imagen.url }}">
                </div>
            {% endfor %}
          </div>
        </div>
      </section>

{% comment %} TESTIMONIOS {% endcomment %}